.switch button {
    background-color: transparent;
    border: none;
}

.switchIcon {
    color: white;
}

.switchIcon:hover {
    color: yellow;
}

.switchIconDark {
    color: #2f2e2d;
}

.switchIconDark:hover {
    color: black;
}