/* Light mode*/
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    justify-content: space-around;
    padding: 20px;
}

.navigation .active {
    color: lightgrey;
    background-color: #504e4e;
}

.navigation .notactive {
    background-color: lightgrey;
}


/* Dark mode */
.navigationDark ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #504e4e;
}

.navigationDark li {
    float: left;
}

.navigationDark li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: lightgrey;
    justify-content: space-around;
    padding: 20px;
}

.navigationDark .active {
    background-color: lightgrey;
    color: #504e4e;
}

.navigationDark .notactive {
    background-color: #504e4e;
}