.navigation ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}
.navigation li{
    float: left;
}
.navigation li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    justify-content: space-around;
    padding: 20px;
}
.active{
    background-color: lightgrey;
}
.notactive{
    background-color:  grey;
}