.pages{
    min-height:100vh; 
    display:flex; 
    flex-direction:column;        
    justify-content:space-between;
    background-color: white;
}
.pagesDark{
    
    color: lightgrey;
    background-color: #2f2e2d;
}
